// Custom.scss
// Option A: Include all of Bootstrap



// https: //fonts.google.com/specimen/Dancing+Script?query=danc


// font-family: 'Dancing Script', cursive;


@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');

$danger: blue;
$font-family-base: 'Dancing Script',cursive;

@import "../node_modules/bootstrap/scss/bootstrap";


p{
    color : $yellow-500;
    background-color: #555;
}